@model BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@($"{ViewBag.Title} - {AppInfos.AppName} {AppInfos.AppVersion}")</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="header">
        <img src="~/@ViewBag.HeaderImg" /><h1>@ViewBag.HeaderText</h1>
    </div>
    @if (Model.HasBackButton)
    {
        <div id="back">
            <a asp-controller="Home">Zurück</a>
        </div>
    }
    <div id="content">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
